[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #039be5;
  --primary-hover: #0288d1;
  --primary-focus: rgba(3, 155, 229, 0.125);
  --primary-inverse: #fff;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #039be5;
    --primary-hover: #03a9f4;
    --primary-focus: rgba(3, 155, 229, 0.25);
    --primary-inverse: #fff;
  }
}

[data-theme="dark"] {
  --primary: #039be5;
  --primary-hover: #03a9f4;
  --primary-focus: rgba(3, 155, 229, 0.25);
  --primary-inverse: #fff;
}

:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

section {
  padding: 3rem 0;
}

.chirp-logo {
  font-weight: 700;
  font-style: italic;
}

.nav-menu-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 1rem;
  width: 100%;
}

.nav-menu {
  display: none;
}

.hero-avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.25rem;
}

.avatar {
  margin-left: -1.25rem;
}

.container {
  padding: 0 1.5rem;
}

.accent {
  color: var(--primary-hover);
  font-weight: 600;
}

.hero-text {
  padding: 2rem 0;
}

.hero-header {
  font-size: 2.05rem;
  line-height: 2.5rem;
  max-width: 21rem;
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.75rem;
  font-weight: 500;
  font-size: 0.85rem;
}

.lead-text {
  padding: 1rem 0;
}

.hero-links {
  padding: 1rem 0;
  text-align: center;
}

.section-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding-bottom: 2rem;
}

.about-card-item {
  border: 0.0625rem solid var(--primary);
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.about-subtitle {
  font-size: 1rem;
}

.feedback-card-item {
  background-color: var(--primary-inverse);
  margin-bottom: 1.75rem;
  padding: 1.75rem;
  border-radius: 0.5rem;
}

.feedback-card-author,
.feedback-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-author,
.feedback-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.section-feedback {
  background-color: #152c38;
}

.about-title {
  max-width: 30rem;
}

.feedback-context {
  padding: 1rem 0;
  color: black;
}

.feedback-card-fname {
  color: black;
  font-weight: 600;
}

.section-plan {
  text-align: center;
}

.plan-card {
  text-align: left;
  border: 0.0625rem solid var(--primary);
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  max-width: 28.6875rem;
  margin: 0 auto;
}

.plan-card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.price {
  font-size: 3rem;
  font-weight: 800;
  color: var(--primary-inverse);
}

.trial-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer {
  background-color: rgb(177, 255, 255);
}

@media (width>=995px) {
  .main-hero {
    gap: 2rem;
  }

  .hero-btn {
    background-color: var(--primary);
    color: var(--primary-inverse);
  }

  .hamburger-bar {
    display: none;
  }

  .nav-menu {
    display: block;
    padding-bottom: 4rem;
    margin-top: -1rem;
  }

  .main-hero-img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 80%;
    margin-left: 22%;
  }

  .hero-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
  }

  .hero-btn {
    width: 13.5rem;
  }

  .about-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about-card-item {
    margin-bottom: 0;
  }

  .plan-title {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .plan-lead {
    padding-bottom: 3rem;
  }

  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
